* {
    box-sizing: border-box;
}

main {
    width: 90%;
    margin: auto;
    font-family:Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "h h h"
                         "n n n"
                         "a a as"
                         "f f f";
}

header {
    grid-area: h;
    color: mediumseagreen;
}

nav {
    grid-area: n;
}

nav>ul {
    display: grid;
    grid-template-columns: 100px 220px 100px;
    list-style-type: none;
    background-color: rgb(37, 82, 37);
    padding: 20px;
}

nav>ul>li {
    padding: 5px;
}

nav>ul>li>a {
    text-decoration: none;
    color: rgb(123, 180, 123);
}

article {
    grid-area: a;
    margin: 10px;
}

.mann {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.man {
    padding: 0;
    padding-bottom: 20px;
    background-color: rgb(247, 244, 241);
    border: solid 1px rgb(255, 245, 225);
    margin: 10px;
}

.man>p {
    color: rgb(63, 107, 90);
}

.man2 {
    background-color: white;
    border: solid 1px rgb(255, 245, 225);
    padding: 10px;
    margin: 0;
    height: 90%;
}

article>ol>li {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
}

article>table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 10px;
}

tr:nth-child(even) {
    background-color: rgb(255, 247, 233);
}

th {
    border-bottom: solid black 2px;
}

article>table>tbody>tr>th, article>table>tbody>tr>td {
    border-bottom: solid 1px rgb(250, 232, 199);
}

aside {
    grid-area: as;
}

img {
    width: 100%;
    border: solid lightgray 1px;
    padding: 5px;
    margin: auto;
}

footer {
    grid-area: f;
    color: rgb(53, 131, 101);
    text-align: center;
}

@media screen and (max-width:600px) {

    main {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-areas: "h"
                             "n"
                             "a"
                             "as"
                             "f";
    }

    nav>ul {
        grid-template-columns: 1fr;
    }

    .mann {
        grid-template-columns: 1fr;
    }
}